$blue: #020B55;
$bluehv: rgba(23, 36, 139, 0.763);
$blueop: #020c556b;
$green: #3AFF49;
$greenhv: #aeffb4;
$greenop: rgba(174, 255, 179, 0.743);

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
$font-titles: "Syne", sans-serif;
$font-texts: 'Inter', sans-serif;