@import "/public/styles/utilities/variables.scss";

html,
body {
  padding: 0;
  margin: 0;

  background-color: $blue;

  cursor: none;

  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100%;
  min-height: 120vh;

  scroll-behavior: smooth;
  z-index: -1;
}

*{
  cursor: none;
}

.header_late{
  animation: header_late 2s forwards;
}

@keyframes header_late {
  0%{
    display: none;
  }

  50%{
    display: block;
    opacity: 1;
  }

  100%{
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  overflow-x: hidden;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  z-index: 0;
}
