@import "/public/styles/utilities/variables.scss";

html,
body {
  padding: 0;
  margin: 0;

  background-color: $blue;

  cursor: none;

  overflow-x: hidden;

  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

body{
  max-width: 100%;
  padding: 0 2.5%;
  overflow: hidden;
}

