@import "/public/styles/utilities/variables.scss";

//MAIN

.work_detail {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: $blue;
  // overflow-x: hidden;

  scroll-behavior: smooth;
}

//LANDING CONTAINER

.landing_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  color: white;
  flex: 1 0 auto;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.bg_image {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
  top: 0;
}

.main_gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: -webkit-linear-gradient($blue, $blue, $greenop2);

  margin: 0;
  padding: 0;

  opacity: 0.75;

  top: 0;
}

.landing_text {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1,
  h2 {
    font-family: $font-titles;
    color: $green;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 800;
    font-size: 3.4rem;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $green;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  bottom: 5vh;
}

//FIRST CONTENT SECTION

.first_section {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .work_type {
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    width: 100vw;
    z-index: 1;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: $green;
      font-family: $font-titles;
      font-weight: 500;
      font-size: 22px;
    }
  }

  .detail_content {
    max-width: 1080px;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10%;

    padding: 1.2em;

    .description {
      font-family: $font-texts;
      color: $green;
      font-size: calc(0.8rem + 0.6vh);
      margin: 0;
      padding: 0;

      width: 70%;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: $green;
      gap: 0.5em;

      span,
      p {
        margin: 0;
        padding: 0;
      }

      span {
        font-family: $font-titles;
        font-weight: 800;
        font-size: calc(0.8rem + 0.8vh);
      }

      p {
        font-family: $font-texts;
        font-size: calc(0.8rem + 0.8vh);
      }
    }
  }
}

//RESPONSIVE

@media only screen and (max-width: 600px) {
  .first_section {
    .detail_content {
      flex-direction: column;
      gap: 2em;

      .description {
        width: 100%;
      }

      .details {
        flex-wrap: wrap;
      }
    }
  }
}
