@import "/public/styles/utilities/variables.scss";

.cursor {
  position: fixed;
  background: $green;
  pointer-events: none;
  mix-blend-mode: difference;
  border-radius: 50%;
  transition: 0.05s linear;
  z-index: 9999;
}