@import "/public/styles/utilities/variables.scss";

.cursor {
  position: fixed;
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: difference;
  border-radius: 50%;
  border: 2px solid $green;
  transition: 0.25s cubic-bezier(0.2, 0.6, 0.8, 1), width 0.15s linear,
    height 0.15s linear, background-color 0.15s linear;
  z-index: 99999999;
}

.cursor_small {
  position: fixed;
  pointer-events: none;
  background-color: $green;
  mix-blend-mode: difference;
  border-radius: 50%;
  transition: 0.025s linear, width 0.15s linear, height 0.15s linear;
  z-index: 9999;
}

.hovering {
  background: $green;
  border: 2px solid $green;
}
