@import "/public/styles/utilities/variables.scss";

.image_parent {
  width: inherit;
  max-width: 100%;
  position: relative;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  margin: 0;
  padding: 0;

  margin: auto;
  overflow: hidden;

  &:hover {
    .image {
      transform: scale(1.025);
    }
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  color: $green;
  font-family: $font-texts;
  transition: 0.35s;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide_img {
  display: none;
}

.noselect{
  user-select: none;
  pointer-events: none;
}

.full_width{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.71);
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  // display: none;

  .cross{
    font-family: $font-texts;
    font-weight: 500;
  }
}

.show{
  display: block;

  *{
    user-select: none;
    pointer-events: none;
  }
}

.image_zoom {
  display: block;
  width: auto;
  height: 95vh;
  transform: scale(1);
  color: $green;
  font-family: $font-texts;
  transition: 0.35s;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}