@import "/public/styles/utilities/variables.scss";

.image_parent{
  width: 100%;
}

.image{
  width: 100%;
  height: auto;
  color: $green;
  font-family: $font-texts;
}

.hide_img{
  display: none;
}