@import "/public/styles/utilities/variables.scss";

.best_container {
  border: 1px solid $green;
  height: 100%;
  min-height: 15vh;
  display: grid;
  grid-template-areas: "content";
  place-items: center;
  padding: 5%;
  box-sizing: border-box;

  .title,
  .description {
    grid-area: content;
    width: 100%;
    margin: 0;
    text-align: center;
    align-self: center;
    justify-self: center;
    transition: opacity 0.25s ease, visibility 0.25s ease;
  }

  .title {
    font-family: $font-titles;
    font-weight: 500;
    font-size: $h5;
    opacity: 1;
    visibility: visible;
  }

  .description {
    font-family: $font-texts;
    font-weight: 400;
    font-size: $p;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    max-height: 100%;
  }

  &:hover {
    .title {
      opacity: 0;
      visibility: hidden;
    }

    .description {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 665px) {
  .best_container {
    min-height: 10vh;
  }
}
